# Custom Chatbot Project

For this project, I have chosen the Wikipedia article on "2023". The Wikipedia article on "2023" is an excellent choice because it covers a wide range of recent and relevant events across various domains, such as politics, technology, science, culture, and sports. This diversity allows the chatbot to provide comprehensive, up-to-date, and credible information, making it a valuable tool for users interested in current events, educational purposes, and general knowledge.

## Data Wrangling

### Loading the Data with `pandas`

In [71]:
import requests
import pandas as pd
import numpy as np
from dateutil.parser import parse
from openai.embeddings_utils import get_embedding
from openai.embeddings_utils import distances_from_embeddings
import tiktoken

In [72]:
response = requests.get("https://en.wikipedia.org/w/api.php?action=query&prop=extracts&exlimit=1&titles=2023&explaintext=1&formatversion=2&format=json")

In [73]:
response.json()["query"]["pages"][0]["extract"].split("\n")

['2023 (MMXXIII) was a common year starting on Sunday of the Gregorian calendar, the 2023rd year of the Common Era (CE) and Anno Domini (AD) designations, the 23rd  year of the 3rd millennium and the 21st century, and the  4th   year of the 2020s decade.  ',
 'The year 2023 saw the decline in severity of the COVID-19 pandemic, with the WHO (World Health Organization) ending its global health emergency status in May. Catastrophic natural disasters included the fifth-deadliest earthquake of the 21st century striking Turkey and Syria, leaving up to 62,000 people dead, Cyclone Freddy – the longest-lasting recorded tropical cyclone in history – leading to over 1,400 deaths in Malawi and Mozambique, Storm Daniel, which became the deadliest cyclone worldwide since Cyclone Nargis after killing at least 11,000 people in Libya, a major 6.8 magnitude earthquake striking western Morocco, killing 2,960 people, and a 6.3 magnitude quadruple earthquake striking western Afghanistan, killing over 1,400 people.',
 'The Russian invasion of Ukraine and Myanmar civil war continued in 2023, and a series of coups, several armed conflicts, and political crises broke out in numerous African nations, most notably a war in Sudan. A major escalation of the Israeli–Palestinian conflict occurred in October when Hamas, which governs the Gaza Strip, led an attack on Israel, leading the latter to declare war on Hamas. The Nagorno-Karabakh conflict ended after over 100,000 Armenians fled the region after an Azeri military invasion.',
 "A banking crisis resulted in the collapse of numerous American regional banks as well as the buyout of Credit Suisse by UBS in Switzerland. The two largest American banks to collapse were Silicon Valley Bank and First Republic Bank, two of the three largest banking collapses in US history. The most notable of numerous acquisitions in various industries included October's energy acquisitions with ExxonMobil and Chevron buying Pioneer Natural Resources and Hess respectively, the luxury fashion holding company Tapestry (Coach New York and Kate Spade New York) announcing its purchase of Capri Holdings (Michael Kors and Versace), and the closure of Microsoft's acquisition of Activision Blizzard.",
 'In the realm of technology, 2023 saw the continued rise of generative AI models, with increasing applications across various industries. These models, leveraging advancements in machine learning and natural language processing, had become capable of creating realistic and coherent text, images, and music. An AI arms race between private companies has continued since the late 2010s, with Microsoft-backed OpenAI and Google owner Alphabet today most dominant among firms.',
 '',
 '',
 '== Events ==',
 '',
 '',
 '=== January ===',
 "January 1 – Croatia adopts the euro and joins the Schengen Area, becoming the 20th member state of the Eurozone and the 27th member of the Schengen Area. This is the first enlargement of the Eurozone since Lithuania's entry in 2015, and the first enlargement of the Schengen Area since Liechtenstein's entry in 2011.",
 "January 5 – The funeral of Pope Benedict XVI is held at St. Peter's Square in the Vatican City. The funeral was attended by an estimated 50,000 people.",
 'January 8',
 'The 2023 Beninese parliamentary election is held, with the Progressive Union for Renewal party winning a plurality of seats.',
 'Following the 2022 Brazilian general election and the inauguration of Lula da Silva as president of Brazil, supporters of former Brazilian president Jair Bolsonaro storm the Brazilian National Congress, the Supreme Federal Court and the Presidential Palace of Planalto.',
 'January 9 – Juliaca massacre: At least 18 people are killed and over 100 others are injured when the Peruvian National Police fire upon demonstrations in Juliaca.',
 'January 10–17 – A cold snap in Afghanistan kills 166 people and nearly 80,000 livestock.',
 'January 15 – Yeti Airlines Flight 691 crashes during final approach into Pokhara, Nepal, killing all 72 people on board.',
 "January 16 – Tigray War: Amharan Special Forces withdraw from the Tigray Region in line with an African Union-backed peace agreement between the Ethiopian government and the Tigray People's Liberation Front.",
 'January 17 – Nguyễn Xuân Phúc resigns as President of Vietnam amid several recent scandals in the government.',
 'January 18 – A helicopter crash in Brovary near Kyiv, Ukraine kills 14 people including Ukrainian Minister of Internal Affairs Denys Monastyrsky.',
 'January 20 – The Parliament of Trinidad and Tobago elects former senate president, minister and lawyer Christine Kangaloo as president in a 48–22 vote.',
 'January 21',
 'Burkina Faso requests French forces to withdraw from its territory after suspending a military accord that allowed the presence of French troops in the country.',
 'Tigray War: Eritrean forces withdraw from Shire and other major towns in the Tigray Region of Ethiopia.',
 'January 25 – Chris Hipkins succeeds Jacinda Ardern as Prime Minister of New Zealand, six days after she announced her resignation.',
 'January 27 – Widespread unrest erupts in Israel following an Israeli military raid in Jenin the previous day which killed nine Palestinians. Incendiary air balloons are launched into Israeli-populated areas following it. Israel responds with targeted airstrikes. Later the same day, seven Jewish civilians are killed in a synagogue in Neve Yaakov in a terrorist attack.',
 'January 27–28 – The second round of the 2023 Czech presidential election is held, with Petr Pavel declared winner.',
 'January 30',
 'A Jamaat-ul-Ahrar suicide bombing inside a mosque in Peshawar, Khyber Pakhtunkhwa, Pakistan, kills 84 people and injures over 220 others.',
 'Prime Minister of Fiji Sitiveni Rabuka confirms that Kiribati will rejoin the Pacific Islands Forum after leaving the organization the previous year.',
 '',
 '',
 '=== February ===',
 'February 1 – Lebanese liquidity crisis: The central bank of Lebanon devalues the Lebanese pound by 90% amid an ongoing financial crisis.',
 'February 2',
 'Israel and Sudan announce the finalization of an agreement to normalize relations between the two countries.',
 'The European Central Bank and Bank of England raise their interest rates by 0.5 percentage points to combat inflation, one day after the US Federal Reserve raises its federal funds rate by 0.25 percentage points.',
 'February 3',
 'The US announces it is tracking alleged Chinese spy balloons over the Americas, later announcing that the balloons did not collect any information. One balloon drifts from Yukon to South Carolina before being shot down the next day, and a second hovers over Colombia and Brazil. This event is followed by subsequent detections and shootdowns of high-altitude objects elsewhere.',
 'A Norfolk Southern train carrying hazardous materials derails in East Palestine, Ohio. Multiple train cars burn for more than two days, followed by emergency crews conducting a controlled burn of several additional cars, releasing hydrogen chloride and phosgene into the atmosphere.',
 'February 5',
 'The 2023 Cypriot presidential election is held, with Nikos Christodoulides elected president.',
 'Cyclone Freddy forms in the Indian Ocean. It would become the longest lasting tropical cyclone in history and cause over 1,400 deaths and countless injuries and property damage across southeastern Africa.',
 'February 6 – A 7.8 Mww earthquake strikes southern and central Turkey and northern and western Syria followed by a 7.7 Mww\u202f aftershock on the same day, causing widespread damage and at more than 59,000 fatalities and 121,000 injured.',
 'February 13 – The 2023 Bangladeshi presidential election scheduled for 19 February is held, with Shahabuddin Chuppu of the Awami League, the only nominated candidate, elected unopposed.',
 'February 14 – The European Parliament approves a ban on the sale of new petrol and diesel vehicles in the European Union from 2035, citing the need to combat climate change in Europe and promote electric vehicles.',
 'February 16 – Lawmakers in the Russian State Duma vote to withdraw Russia from 21 conventions of the Council of Europe.',
 'February 17 – The South African Navy hosts a ten-day joint military exercise in the Indian Ocean with Russia and China.',
 'February 19 – Libyan Crisis: The African Union announces the organization of a peace conference to address the instability in Libya.',
 'February 21 – Vladimir Putin announces that Russia is suspending its participation in New START, a nuclear arms reduction treaty with the US.',
 'February 23 – Oman opens its airspace to Israeli airlines for the first time, in an upgrade of bilateral relations.',
 "February 25 – 2023 Nigerian general election: Bola Tinubu is elected as Nigeria's president, defeating former vice president Atiku Abubakar and Peter Obi.",
 'February 27 – The United Kingdom and the European Union reach an agreement surrounding modifications to the Northern Ireland Protocol.',
 'February 28 – A train crash in Thessaly, Greece, kills 57 people and injures dozens. The crash leads to nationwide protests and strikes against the condition of Greek railways and their mismanagement.',
 '',
 '',
 '=== March ===',
 "March 2 – The National Assembly of Vietnam declares Võ Văn Thưởng as the country's new president after receiving 98.38% votes from the Vietnamese parliament.",
 'March 4',
 "UN member states agree on a legal framework for the High Seas Treaty, which aims to protect 30% of the world's oceans by 2030.",
 'Kivu conflict: Burundi deploys 100 troops to the Democratic Republic of the Congo to help fight insurgencies by militias, including M23.',
 'March 5 – The 2023 Estonian parliamentary election is held, with two centre-right liberal parties gaining an absolute majority for the first time.',
 'March 8–21 – The 2023 World Baseball Classic is held in, and won by, Japan.',
 'March 8 – Allied Democratic Forces jihadist insurgents use machetes to kill about 35 people in the village of Mukondi, North Kivu, Democratic Republic of the Congo.',
 'March 10',
 "The 2023 Chinese presidential election is held with the National People's Congress unanimously re-electing Xi Jinping as the President of the People's Republic of China to an unprecedented third term.",
 'Iran and Saudi Arabia agree to resume diplomatic relations which were severed in 2016, at talks mediated by China.',
 'Silicon Valley Bank, the 16th largest bank in the United States, fails, creating then the largest bank failure since the 2008 financial crisis, affecting companies around the world.',
 'Kivu conflict: Angola announces the deployment of troops to the Democratic Republic of the Congo, following the failure of a ceasefire between government forces and M23 rebels in North Kivu.',
 'March 14 – OpenAI launches GPT-4, a large language model for ChatGPT, which can respond to images and can process up to 25,000 words.',
 "March 17 – The International Criminal Court issues an arrest warrant for Russian president Vladimir Putin and Maria Lvova-Belova, Russian Commissioner for Children's Rights, marking the first arrest warrant against a leader of a permanent member of the United Nations Security Council.",
 'March 19 – In a deal brokered by the Swiss government, investment bank UBS agrees to buy Credit Suisse for CHF 3 billion (US$3.2 billion) in an all-stock deal.',
 'March 20 – The Intergovernmental Panel on Climate Change (IPCC) releases the synthesis report of its Sixth Assessment Report on climate change.',
 'March 23 – World Athletics, the global governing body for athletics, bans trans women who have gone through male puberty from competing in female events.',
 'March 24–27 – A tornado outbreak kills at least 26 people in Mississippi and Alabama. This includes a violent tornado which devastated the city of Rolling Fork and the town of Silver City in Mississippi, killing 16 people and injuring 165 others.',
 'March 26',
 'Honduras switches its formal diplomatic recognition of "China" from the Republic of China to the People\'s Republic of China.',
 "2023 Israeli judicial reform protests: Large-scale spontaneous protests erupt across Israel in the wake of Prime Minister Benjamin Netanyahu firing his defense minister who criticized the government's judicial overhaul plan.",
 'March 29',
 'Brazil and China sign an agreement to trade in their own currencies, ceasing the usage of the United States dollar as an intermediary.',
 'Burkina Faso formally resumes diplomatic relations with North Korea after suspending them in 2017.',
 'March 30 – The International Court of Justice rules that the United States violated its Treaty of Amity with Iran when it allowed its domestic courts to freeze assets held by Iranian companies.',
 'March 31 – April 1 – A historic and widespread tornado outbreak occurs in the United States, killing 33 people, injuring more than 218 others, and caused over $5.4 billion in damage. This tornado outbreak produced 147 tornadoes, making it the third largest tornado outbreak in history.',
 '',
 '',
 '=== April ===',
 'April 2',
 'The 2023 Bulgarian parliamentary election results in a GERB—SDS–PP–DB coalition government headed by Nikolai Denkov as prime minister, and ends two years of political deadlock.',
 'The 2023 Montenegrin presidential election is held, with Jakov Milatović of the Europe Now! movement winning in the second round, becoming the first president not from the DPS party since the introduction of a multi-party system in 1990.',
 'The 2023 Finnish parliamentary election is held, with the centre-right National Coalition led by Petteri Orpo receiving the most votes.',
 'The 2023 Andorran parliamentary election is held, with the ruling Democrats for Andorra led by Prime Minister Xavier Espot winning the majority of the seats.',
 "April 4 – Finland becomes the 31st member of NATO, doubling the alliance's border with Russia.",
 'April 5 – Clashes between Palestinians and the Israeli police happen at Al-Aqsa Mosque in Jerusalem.',
 'April 10 – Two document leaks from the Pentagon detailing foreign military aid relating to the Russian invasion of Ukraine are leaked onto the Internet.',
 "April 11 – Myanmar civil war: In the village of Pazigyi, at least 165 people are killed by the Myanmar Air Force during the opening celebrations of a People's Defence Force administration office.",
 'April 14 – Jupiter Icy Moons Explorer (JUICE) is launched by the European Space Agency (ESA) to search for life in the Jovian system, with an expected arrival date of 2031.',
 'April 15',
 'Nuclear power in Germany ends after 50 years, with the closure of the final power plants.',
 'Fighting breaks out across Sudan between the Sudanese Armed Forces and the paramilitary Rapid Support Forces. The RSF captures Khartoum International Airport, and the presidential palace in Khartoum.',
 'April 19 – At least 90 people are killed and another 322 injured in a crowd crush during a Ramadan charity event in Sanaa, Yemen.',
 "April 20 – SpaceX's Starship rocket, the largest and most powerful rocket ever built, launches for the first time in a test flight from Texas. It explodes four minutes after launch.",
 'April 21 – The Global Fellowship of Confessing Anglicans, representing a majority of the global Anglican population, reject the leadership of Archbishop of Canterbury Justin Welby as the head of global Anglicanism over his support for same-sex marriage.',
 'April 25 – A mass cult suicide is uncovered in Shakahola forest in Kenya. 429 followers of the Good News International Ministries are found in shallow graves throughout the forest, with over 613 people missing.',
 'April 29 – The 2023 Niuean general election is held and incumbent Dalton Tagelagi is re-elected as Premier of Niue.',
 'April 30',
 'The 2023 Paraguayan general election is held, with the Colorado Party candidate Santiago Peña being the president-elect of Paraguay, winning in a plurality.',
 "The second round of the 2023 French Polynesian legislative election is held; the Tāvini Huiraʻatira party wins a majority of seats. Moetai Brotherson, Tāvini Huiraʻatira's deputy leader, is elected President of French Polynesia.",
 '',
 '',
 '=== May ===',
 "May 1 – 2023 banking crisis: San Francisco-based First Republic Bank fails and is auctioned off by the US FDIC to JPMorgan Chase for $10.7 billion. The collapse surpasses March's collapse of Silicon Valley Bank to become the second largest in US history.",
 'May 3 – A school shooting occurs in Belgrade, Serbia. A second mass murder occurs the next day near Mladenovac and Smederevo. These events leave 19 people dead, causing the government to increase regulations on gun ownership and mass anti-government protests to begin.',
 'May 4 – A series of floods and landslides strikes villages in the eastern Democratic Republic of the Congo, resulting in over 400 deaths.',
 'May 5 – The World Health Organization ends its declaration of COVID-19 being a global health emergency, but continues to refer to it as a pandemic.',
 'May 6 – The coronation of Charles III and Camilla as King and Queen of the United Kingdom and the other Commonwealth realms is held in Westminster Abbey, London.',
 'May 7 – Syria is readmitted into the Arab League after being suspended since 2011.',
 'May 9 – Cyclone Mocha forms in the Indian Ocean, killing over 400 people and injuring over 700 as it strikes Myanmar and Bangladesh.',
 'May 9–13 – The Eurovision Song Contest 2023 is held in Liverpool, UK. Swedish contestant Loreen wins with the song "Tattoo".',
 'May 11 – The World Health Organization ends its declaration of mpox being a global health emergency.',
 'May 14',
 'The 2023 Thai general election is held, with pro-democratic parties such as the Move Forward and Pheu Thai parties gaining a majority of seats in the House of Representatives while pro-military parties such as Palang Pracharat lost seats.',
 'The 49th G7 summit takes place in Hiroshima, Japan. Ukrainian president Volodymyr Zelenskyy arrives in Japan on the second day of the summit.',
 'May 21',
 'The May 2023 Greek legislative election is held; the ruling New Democracy wins a plurality of seats in the Hellenic Parliament. Just days later, incumbent prime minister Kyriakos Mitsotakis called for another snap election to be held in June.',
 'The 2023 East Timorese parliamentary election is held, with the National Congress for Timorese Reconstruction and Fretilin parties receiving the most votes. Xanana Gusmão is elected Prime Minister of East Timor.',
 'May 24 – Canada and Saudi Arabia agree to restore full diplomatic relations after a breakdown in relations in 2018 over the assassination of Jamal Khashoggi.',
 'May 25 – Russia and Belarus sign an agreement in Minsk allowing the stationing of Russian tactical nuclear weapons on Belarusian territory.',
 'May 27 – The second round of the 2023 Mauritanian parliamentary election is held, with the ruling El Insaf Party receiving the most votes.',
 'May 28 – The second round of the 2023 Turkish presidential election is held; Recep Tayyip Erdoğan defeats Kemal Kılıçdaroğlu with 52.18% of the vote to win a third term as president.',
 'May 31 – The 2023 Latvian presidential election is held; Edgars Rinkēvičs is elected the President of Latvia.',
 '',
 '',
 '=== June ===',
 'June 2 – A train collision in Odisha, India results in at least 296 deaths and more than 1,200 others injured.',
 'June 6',
 'The 2023 Guinea-Bissau legislative election is held; the coalition Inclusive Alliance Platform – Terra Ranka led by the African Party for the Independence of Guinea and Cape Verde, wins a majority of seats.',
 'The 2023 Kuwaiti general election is held; following the annulment of the results of the 2022 snap elections by the Constitutional Court. 38 members retained their seats from the annulled 2022 session, while two returned from the dissolved 2020 session. Ten new MPs were elected for the first time.',

In [74]:
df = pd.DataFrame()
df["text"] = response.json()["query"]["pages"][0]["extract"].split("\n")
df

                                                  text
0    2023 (MMXXIII) was a common year starting on S...
1    The year 2023 saw the decline in severity of t...
2    The Russian invasion of Ukraine and Myanmar ci...
3    A banking crisis resulted in the collapse of n...
4    In the realm of technology, 2023 saw the conti...
..                                                 ...
295  Physics – Pierre Agostini, Ferenc Krausz & Ann...
296  Physiology or Medicine – Katalin Karikó & Drew...
297
298
299                                   == References ==

[300 rows x 1 columns]

In [75]:
# remvoe blank lines
df = df[df["text"].str.len() > 0]
df

                                                  text
0    2023 (MMXXIII) was a common year starting on S...
1    The year 2023 saw the decline in severity of t...
2    The Russian invasion of Ukraine and Myanmar ci...
3    A banking crisis resulted in the collapse of n...
4    In the realm of technology, 2023 saw the conti...
..                                                 ...
293  Literature – Jon Fosse, for his innovative pla...
294  Peace – Narges Mohammadi, for her works on the...
295  Physics – Pierre Agostini, Ferenc Krausz & Ann...
296  Physiology or Medicine – Katalin Karikó & Drew...
299                                   == References ==

[263 rows x 1 columns]

In [76]:
# remove line starting with ==
df = df[~df["text"].str.startswith("==")]
df

                                                  text
0    2023 (MMXXIII) was a common year starting on S...
1    The year 2023 saw the decline in severity of t...
2    The Russian invasion of Ukraine and Myanmar ci...
3    A banking crisis resulted in the collapse of n...
4    In the realm of technology, 2023 saw the conti...
..                                                 ...
292  Economics – Claudia Goldin, for her empirical ...
293  Literature – Jon Fosse, for his innovative pla...
294  Peace – Narges Mohammadi, for her works on the...
295  Physics – Pierre Agostini, Ferenc Krausz & Ann...
296  Physiology or Medicine – Katalin Karikó & Drew...

[245 rows x 1 columns]

In [77]:
# Combine the date and description into one line.

prefix = ""
for (i, row) in df.iterrows():
    if " – " not in row["text"]:
        try:
            parse(row["text"])
            prefix = row["text"]
        except:
            row["text"] = prefix + " – " + row["text"]
df = df[df["text"].str.contains(" – ")]
df.tail(10)

                                                  text
277  December 21 – The world population on January ...
281  December 21 – The best-selling video game in 2...
282  December 21 – The highest-grossing movie in 20...
283  December 21 – The best-selling book in 2023 wa...
291  Chemistry – Moungi Bawendi, Louis E. Brus & Al...
292  Economics – Claudia Goldin, for her empirical ...
293  Literature – Jon Fosse, for his innovative pla...
294  Peace – Narges Mohammadi, for her works on the...
295  Physics – Pierre Agostini, Ferenc Krausz & Ann...
296  Physiology or Medicine – Katalin Karikó & Drew...

In [78]:
df.reset_index(inplace=True, drop=True)
df

                                                  text
0     – 2023 (MMXXIII) was a common year starting o...
1    The year 2023 saw the decline in severity of t...
2     – The Russian invasion of Ukraine and Myanmar...
3     – A banking crisis resulted in the collapse o...
4     – In the realm of technology, 2023 saw the co...
..                                                 ...
210  Economics – Claudia Goldin, for her empirical ...
211  Literature – Jon Fosse, for his innovative pla...
212  Peace – Narges Mohammadi, for her works on the...
213  Physics – Pierre Agostini, Ferenc Krausz & Ann...
214  Physiology or Medicine – Katalin Karikó & Drew...

[215 rows x 1 columns]

In [79]:
df.to_csv("text.csv")

### Creating an Embeddings Index with `openai.Embedding`

In [80]:
import pandas as pd
df = pd.read_csv("text.csv", index_col=0)
df

                                                  text
0     – 2023 (MMXXIII) was a common year starting o...
1    The year 2023 saw the decline in severity of t...
2     – The Russian invasion of Ukraine and Myanmar...
3     – A banking crisis resulted in the collapse o...
4     – In the realm of technology, 2023 saw the co...
..                                                 ...
210  Economics – Claudia Goldin, for her empirical ...
211  Literature – Jon Fosse, for his innovative pla...
212  Peace – Narges Mohammadi, for her works on the...
213  Physics – Pierre Agostini, Ferenc Krausz & Ann...
214  Physiology or Medicine – Katalin Karikó & Drew...

[215 rows x 1 columns]

In [81]:
EMBEDDING_MODEL_NAME = "text-embedding-ada-002"
response = openai.Embedding.create(
    input=df["text"].tolist(),
    model=EMBEDDING_MODEL_NAME
)
embeddings = [data["embedding"] for data in response["data"]]
df["embeddings"] = embeddings
df

,text,embeddings
0,– 2023 (MMXXIII) was a common year starting o...,"[0.0036826389841735363, -0.01391774881631136, ..."
1,The year 2023 saw the decline in severity of t...,"[-0.02144140563905239, -0.0048804208636283875,..."
2,– The Russian invasion of Ukraine and Myanmar...,"[-0.02132827416062355, -0.01669287495315075, 0..."
3,– A banking crisis resulted in the collapse o...,"[-0.032874152064323425, -0.012347983196377754,..."
4,"– In the realm of technology, 2023 saw the co...","[-0.023189552128314972, -0.014148631133139133,..."
...,...,...
210,"Economics – Claudia Goldin, for her empirical ...","[-0.0173618383705616, -0.00786728784441948, -0..."
211,"Literature – Jon Fosse, for his innovative pla...","[-0.009454749524593353, 0.017640141770243645, ..."
212,"Peace – Narges Mohammadi, for her works on the...","[-0.013226707465946674, -0.012996620498597622,..."
213,"Physics – Pierre Agostini, Ferenc Krausz & Ann...","[-0.020426776260137558, 0.015005192719399929, ..."
214,Physiology or Medicine – Katalin Karikó & Drew...,"[-0.009077275171875954, 0.0041299606673419476,..."

In [82]:
df.to_csv("embeddings.csv")

### Finding Relevant Data with Cosine Similarity

In [83]:
df = pd.read_csv("embeddings.csv", index_col=0)
df["embeddings"] = df["embeddings"].apply(eval).apply(np.array)

question = "Tell me about the notable AI innovations in 2023."
EMBEDDING_MODEL_NAME = "text-embedding-ada-002"

question_embeddings = get_embedding(question, engine=EMBEDDING_MODEL_NAME)
distances = distances_from_embeddings(question_embeddings, df["embeddings"].tolist(), distance_metric="cosine")
df["distances"] = distances
df

,text,embeddings,distances
0,– 2023 (MMXXIII) was a common year starting o...,"[0.0036826389841735363, -0.01391774881631136, ...",0.223111
1,The year 2023 saw the decline in severity of t...,"[-0.02144140563905239, -0.0048804208636283875,...",0.270183
2,– The Russian invasion of Ukraine and Myanmar...,"[-0.02132827416062355, -0.01669287495315075, 0...",0.251490
3,– A banking crisis resulted in the collapse o...,"[-0.032874152064323425, -0.012347983196377754,...",0.297747
4,"– In the realm of technology, 2023 saw the co...","[-0.023189552128314972, -0.014148631133139133,...",0.123513
...,...,...,...
210,"Economics – Claudia Goldin, for her empirical ...","[-0.0173618383705616, -0.00786728784441948, -0...",0.281268
211,"Literature – Jon Fosse, for his innovative pla...","[-0.009454749524593353, 0.017640141770243645, ...",0.286060
212,"Peace – Narges Mohammadi, for her works on the...","[-0.013226707465946674, -0.012996620498597622,...",0.288516
213,"Physics – Pierre Agostini, Ferenc Krausz & Ann...","[-0.020426776260137558, 0.015005192719399929, ...",0.264084
214,Physiology or Medicine – Katalin Karikó & Drew...,"[-0.009077275171875954, 0.0041299606673419476,...",0.242505

In [84]:
df.to_csv("distances.csv")

## Find Shortest Distance

In [93]:
df = pd.read_csv("distances.csv", index_col=0)

current_shortest = df.iloc[0]["distances"]
current_shortest_index = 0
current_shortest, current_shortest_index

for index, distance in enumerate(df["distances"].values):
    if distance < current_shortest:
        current_shortest = distance
        current_shortest_index = index
current_shortest, current_shortest_index

df.iloc[current_shortest_index]["text"]

' – In the realm of technology, 2023 saw the continued rise of generative AI models, with increasing applications across various industries. These models, leveraging advancements in machine learning and natural language processing, had become capable of creating realistic and coherent text, images, and music. An AI arms race between private companies has continued since the late 2010s, with Microsoft-backed OpenAI and Google owner Alphabet today most dominant among firms.'

In [94]:
df.sort_values(by="distances").to_csv("distances_sorted.csv")

## Custom Query Completion

In [95]:
COMPLETION_MODEL_NAME = "gpt-3.5-turbo-instruct"

def answer_question(
    question, df, max_prompt_tokens=1800,max_answer_tokens=150
):
    tokenizer = tiktoken.get_encoding("cl100k_base")
    
    prompt_template =  """
Answer the question based on the context below, and if the question
can't be answered based on the context, say "I don't know"

Context: 

{}

---

Question: {}
Answer:"""
    
    current_token_count = len(tokenizer.encode(prompt_template)) + len(tokenizer.encode(question))
    context = []
    for text in df["text"].values:
        text_token_count = len(tokenizer.encode(text))
        current_token_count += text_token_count
        if current_token_count <= max_prompt_tokens:
            context.append(text)
        else:
            break
    prompt = prompt_template.format("\n\n###\n\n".join(context), question)
    
    try:
        response = openai.Completion.create(
            model=COMPLETION_MODEL_NAME,
            prompt=prompt,
            max_tokens=max_answer_tokens
        )
        return response["choices"][0]["text"]
    except Exception as e:
        print(e)
        return ""

## Basic Response

In [90]:
questions = [
    "What were the major political events in 2023?",
    "When and what important scientific discoveries or breakthroughs occurred in 2023?",
    "What were the top cultural or entertainment events in 2023?",
    "What were the significant healthcare advancements or medical discoveries in 2023?",
    "What were the major sports events and their outcomes in 2023?"
]

before_customization_responses = []

for question in questions:
    response = openai.Completion.create(
        engine=COMPLETION_MODEL_NAME ,
        prompt=question,
        max_tokens=100
    )
    before_customization_responses.append(response.choices[0].text.strip())

print("Basic Responses (Before Customization):")
for i, question in enumerate(questions):
    print(f"Q: {question}")
    print(f"A: {before_customization_responses[i]}")
    print("\n#######\n")

Basic Responses (Before Customization):
Q: What were the major political events in 2023?
A: It is impossible to accurately predict all major political events in 2023, as the political landscape is constantly changing. However, some potential events that could occur in 2023 include:

1. Presidential elections in various countries, including the United States, France, Germany, and Russia.

2. Continued Brexit negotiations between the United Kingdom and the European Union.

3. Potential further escalation of tensions between the United States and North Korea, as well as ongoing diplomatic efforts to denuclearize the Korean

#######

Q: When and what important scientific discoveries or breakthroughs occurred in 2023?
A: As a language model AI, I cannot accurately predict future events, including scientific discoveries or breakthroughs. However, here are some major advancements and developments that have occurred recently in the world of science and technology:

1. The first successful human gene-editing trials: In 2023, researchers were able to use CRISPR-Cas9 gene editing technology to successfully treat a genetic blood disorder in patients, marking a milestone in the field of gene therapy.

2. Development of the first quantum computer

#######

Q: What were the top cultural or entertainment events in 2023?
A: 1. The release of several highly anticipated movies, including a new Star Wars film, a Marvel superhero movie, and a long-awaited Avatar sequel.

2. The 75th Cannes Film Festival, featuring premieres of critically acclaimed films and appearances by some of the biggest names in the entertainment industry.

3. The 65th Eurovision Song Contest, with performances from talented musicians representing various countries in Europe.

4. The 2023 FIFA Women's World Cup, hosted by Australia and New Zealand

#######

Q: What were the significant healthcare advancements or medical discoveries in 2023?
A: It is impossible to accurately predict future healthcare advancements or medical discoveries in 2023. However, here are some recent significant advancements and discoveries that have occurred in the medical field:

1. Genetic editing: In 2023, there may be further advancements in the use of genetic editing techniques such as CRISPR/Cas9 to treat genetic diseases.

2. Personalized medicine: With the advancements in genetic testing, there may be a greater emphasis on personalized medicine and tailoring treatments to an individual

#######

Q: What were the major sports events and their outcomes in 2023?
A: Unfortunately, as of now, it is not possible to accurately predict the outcomes of major sports events in 2023. This answer will vary greatly depending on the specific sports events and teams/athletes involved, and predicting the outcome of future sporting events is always subject to change. However, here are some potential major sports events in 2023 and their possible outcomes (based on current information):

1. Super Bowl LVII (American football) - potential outcomes could include the Kansas City Chiefs winning

#######

## Custom Performance Demonstration

In [96]:
df = pd.read_csv("distances_sorted.csv", index_col=0)

custom_responses = []
for question in questions:
    custom_answer = answer_question(question, df)
    custom_responses.append(custom_answer)

print("Custom Responses (After Customization):")
for i, question in enumerate(questions):
    print(f"Q: {question}")
    print(f"A: {custom_responses[i]}")
    print("\n#######\n")

Custom Responses (After Customization):
Q: What were the major political events in 2023?
A:
1. The first AI Safety Summit took place with 28 countries signing an agreement on how to manage the riskiest forms of artificial intelligence.

2. SAG-AFTRA announces a strike against major film and TV studios in protest of low compensation, ownership of work, and generative AI.

3. Large-scale spontaneous protests erupt in Israel in the wake of Prime Minister Benjamin Netanyahu firing his defense minister.

4. The European Parliament approves a ban on the sale of new petrol and diesel vehicles in the European Union from 2035 to combat climate change and promote electric vehicles.

5. The 2023 Chinese presidential election is held with Xi Jinping being unanimously re-elected for a third term.

6. Economist and former deputy prime minister Tharman

#######

Q: When and what important scientific discoveries or breakthroughs occurred in 2023?
A:  In March and April of 2023, the first AI Safety Summit took place in the United Kingdom, and OpenAI and Google released new generative AI models. In addition, in June of that year, scientists created the first synthetic human embryo and doctors announced the world's first whole eye transplant. In October, UN member states agreed on a legal framework for the High Seas Treaty to protect 30% of the world's oceans by 2030.

#######

Q: What were the top cultural or entertainment events in 2023?
A:
1. The release of the GPT-4 AI model by OpenAI
2. The launch of the Gemini Language Model by Google DeepMind
3. The release of the video game "Hogwarts Legacy"
4. The strike by SAG-AFTRA against major film and TV studios
5. The publication of the best-selling book "It Ends with Us"
6. The theatrical release of the movie "Barbie"
7. Spontaneous protests in Israel over a judicial overhaul plan
8. The European Parliament's approval of a ban on petrol and diesel vehicles
9. The re-election of Xi Jinping as President of China for an unprecedented third term
10. The election of Tharman Shanmugaratnam

#######

Q: What were the significant healthcare advancements or medical discoveries in 2023?
A:  Physiology or Medicine – Katalin Karikó & Drew Weissman, for their discoveries concerning nucleoside base modifications that enabled the development of effective mRNA vaccines against COVID-19.
 U.S. surgeons at NYU Langone Health announce the world's first whole eye transplant.

#######

Q: What were the major sports events and their outcomes in 2023?
A:
The 2023 Cricket World Cup was held in India, with Australia defeating India in the final. Additionally, the 2023 World Baseball Classic was held in, and won by, Japan. The 2023 FIFA Women's World Cup was held in Australia and New Zealand, with Spain winning 1-0 against England in the final. The 2023 Spanish general election was held, with the People's Party becoming the largest party in the Congress of Deputies.

#######

## Comparison of Basic and Custom Responses

In [99]:
print(f"Q: {questions[0]}")
print("\n#######\n")
print("Basic Response:")
print(f"A: {before_customization_responses[0]}")
print("\n#######\n")
print("Custom Response:")
print(f"A: {custom_responses[0]}")

Q: What were the major political events in 2023?

#######

Basic Response:
A: It is impossible to accurately predict all major political events in 2023, as the political landscape is constantly changing. However, some potential events that could occur in 2023 include:

1. Presidential elections in various countries, including the United States, France, Germany, and Russia.

2. Continued Brexit negotiations between the United Kingdom and the European Union.

3. Potential further escalation of tensions between the United States and North Korea, as well as ongoing diplomatic efforts to denuclearize the Korean

#######

Custom Response:
A:
1. The first AI Safety Summit took place with 28 countries signing an agreement on how to manage the riskiest forms of artificial intelligence.

2. SAG-AFTRA announces a strike against major film and TV studios in protest of low compensation, ownership of work, and generative AI.

3. Large-scale spontaneous protests erupt in Israel in the wake of Prime Minister Benjamin Netanyahu firing his defense minister.

4. The European Parliament approves a ban on the sale of new petrol and diesel vehicles in the European Union from 2035 to combat climate change and promote electric vehicles.

5. The 2023 Chinese presidential election is held with Xi Jinping being unanimously re-elected for a third term.

6. Economist and former deputy prime minister Tharman

The improvements in the chatbot's responses due to the incorporation of detailed information from the Wikipedia article on 2023. This shows how customizing the data source can significantly enhance the chatbot's performance and relevance to user queries.